#textflow {
    border-radius: radius-normal;
    border: 1px solid;
    border-color: color-theme-3;
}

#ctl_baudrate {
    padding: 0;
    padding-right: 0;
}

#openPort[status="open"] {
    background: color-green-6;
    color: color-0;
}